# OS Files
.DS_Store
Thumbs.db

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Node
node_modules
npm-debug.log

# CDK asset staging directory
.cdk.staging
cdk.out

# IDEs
.idea
.vscode


.env
.lambda-env.json

